<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" name="abonne">abonne <br>
    <input type="radio" name="Sexe" value="Homme" >Homme <br>
    <input type="radio" name="Sexe" value="Femme"> Femme <br>
    <input type="datetime-local" name="rdv"><br>
    <input type="tel" name="telephone" placeholder="623 32 42 12">
    <input type="file" ><br>
    <label for="class">Choisis ta classe</label>
    <select name="class" id="class">
        <option value="L1">Licence 1</option>
        <option value="L2">Licence 2</option>
        <option value="L3">Licence 3</option>
        <option value="L4">Licence 4</option>
    </select>

    <!-- <div class="programme">
                <label for="class">Programme :</label>
                <select name="class" id="class">
                    <option value="L1">Licence 1</option>
                    <option value="L2">Licence 2</option>
                    <option value="L3">Licence 3</option>
                    <option value="L4">Licence 4</option>
                </select>
            </div> -->
</body>
</html>